<!-- CORE : begin -->
			<div id="core">

				<!-- PAGE TITLE : begin -->
				<div id="page-title" class="m-parallax">

					<!-- PAGE TITLE TOP : begin -->
					<div class="page-title-top">
						<div class="page-title-top-inner">

							<!-- PAGE TITLE TEXT : begin -->
							<div class="page-title-text">
								<div class="container">
									<h1>Plumbing. Painting.<br><strong>Anything</strong>!</h1>
								</div>
							</div>
							<!-- PAGE TITLE TEXT : end -->

							<!-- PAGE TITLE SERVICES : begin -->
							<div class="page-title-services">
								<div class="container">

									<!-- SERVICE LIST : begin -->
									<ul class="c-service-list m-type-2 m-4-per-row">

										<!-- SERVICE : begin -->
										<li class="c-service m-type-2">
											<div class="service-inner">
												<div class="service-title" style="background-image: url( '/assets/service-plumbing-th.jpg' );">
													<div><div><div>
														<span class="service-icon"><i class="fa fa-wrench"></i></span>
														<h3><a href="service-detail.html">Plumbing</a></h3>
													</div></div></div>
												</div>
												<div class="service-description">
													<div><div>
														<p>The Big Oxmox advised her not to do so, because.</p>
														<p><a href="service-detail.html" class="c-button m-size-small">More Info</a></p>
													</div></div>
												</div>

											</div>
										</li>
										<!-- SERVICE : end -->

										<!-- SERVICE : begin -->
										<li class="c-service m-type-2">
											<div class="service-inner">

												<div class="service-title" style="background-image: url( '/assets/service-electricity-th.jpg' );">
													<div><div><div>
														<span class="service-icon"><i class="fa fa-bolt"></i></span>
														<h3><a href="service-detail.html">Electricity</a></h3>
													</div></div></div>
												</div>
												<div class="service-description">
													<div><div>
														<p>A small river named Duden flows by their place and supplies.</p>
														<p><a href="service-detail.html" class="c-button m-size-small">More Info</a></p>
													</div></div>
												</div>

											</div>
										</li>
										<!-- SERVICE : end -->

										<!-- SERVICE : begin -->
										<li class="c-service m-type-2">
											<div class="service-inner">

												<div class="service-title" style="background-image: url( '/assets/service-sanitary-th.jpg' );">
													<div><div><div>
														<span class="service-icon"><i class="fa fa-tint"></i></span>
														<h3><a href="service-detail.html">Sanitary</a></h3>
													</div></div></div>
												</div>
												<div class="service-description">
													<div><div>
														<p>But nothing the copy said could convince her and so it.</p>
														<p><a href="service-detail.html" class="c-button m-size-small">More Info</a></p>
													</div></div>
												</div>

											</div>
										</li>
										<!-- SERVICE : end -->

										<!-- SERVICE : begin -->
										<li class="c-service m-type-2">
											<div class="service-inner">

												<div class="service-title" style="background-image: url( '/assets/service-heating-th.jpg' );">
													<div><div><div>
														<span class="service-icon"><i class="fa fa-fire"></i></span>
														<h3><a href="service-detail.html">Heating</a></h3>
													</div></div></div>
												</div>
												<div class="service-description">
													<div><div>
														<p>She packed her seven versalia, put her initial into the belt.</p>
														<p><a href="service-detail.html" class="c-button m-size-small">More Info</a></p>
													</div></div>
												</div>

											</div>
										</li>
										<!-- SERVICE : end -->

										<!-- SERVICE : begin -->
										<li class="c-service m-type-2">
											<div class="service-inner">

												<div class="service-title" style="background-image: url( '/assets/service-roofing-th.jpg' );">
													<div><div><div>
														<span class="service-icon"><i class="fa fa-home"></i></span>
														<h3><a href="service-detail.html">Roofing</a></h3>
													</div></div></div>
												</div>
												<div class="service-description">
													<div><div>
														<p>When she reached the first hills of the Italic Mountains.</p>
														<p><a href="service-detail.html" class="c-button m-size-small">More Info</a></p>
													</div></div>
												</div>

											</div>
										</li>
										<!-- SERVICE : end -->

										<!-- SERVICE : begin -->
										<li class="c-service m-type-2">
											<div class="service-inner">

												<div class="service-title" style="background-image: url( '/assets/service-renovation-th.jpg' );">
													<div><div><div>
														<span class="service-icon"><i class="fa fa-users"></i></span>
														<h3><a href="service-detail.html">Renovation</a></h3>
													</div></div></div>
												</div>
												<div class="service-description">
													<div><div>
														<p>Bookmarksgrove, the headline of Alphabet Village.</p>
														<p><a href="service-detail.html" class="c-button m-size-small">More Info</a></p>
													</div></div>
												</div>

											</div>
										</li>
										<!-- SERVICE : end -->

										<!-- SERVICE : begin -->
										<li class="c-service m-type-2">
											<div class="service-inner">

												<div class="service-title" style="background-image: url( '/assets/service-painting-th.jpg' );">
													<div><div><div>
														<span class="service-icon"><i class="fa fa-paint-brush"></i></span>
														<h3><a href="service-detail.html">Painting</a></h3>
													</div></div></div>
												</div>
												<div class="service-description">
													<div><div>
														<p>Pityful a rethoric question ran over her cheek.</p>
														<p><a href="service-detail.html" class="c-button m-size-small">More Info</a></p>
													</div></div>
												</div>

											</div>
										</li>
										<!-- SERVICE : end -->

										<!-- SERVICE : begin -->
										<li class="c-service m-type-2">
											<div class="service-inner">

												<div class="service-title" style="background-image: url( '/assets/service-sewerage-th.jpg' );">
													<div><div><div>
														<span class="service-icon"><i class="fa fa-circle-thin"></i></span>
														<h3><a href="service-detail.html">Sewerage</a></h3>
													</div></div></div>
												</div>
												<div class="service-description">
													<div><div>
														<p>The copy warned the Little Blind Text, that where it came.</p>
														<p><a href="service-detail.html" class="c-button m-size-small">More Info</a></p>
													</div></div>
												</div>

											</div>
										</li>
										<!-- SERVICE : end -->

									</ul>
									<!-- SERVICE LIST : end -->

								</div>
							</div>
							<!-- PAGE TITLE SERVICES : end -->

						</div>
					</div>
					<!-- PAGE TITLE TOP : end -->

					<!-- PAGE TITLE BOTTOM : begin -->
					<div class="page-title-bottom">
						<div class="container">
							<div class="page-title-bottom-inner">
								<div class="page-title-bottom-inner2">

									<!-- PAGE TITLE BAR : begin -->
									<div class="page-title-bar">
										<div class="page-title-bar-inner">

											<ul class="page-title-bar-left">
												<li><i class="fa fa-phone"></i><strong>(123) 456 789</strong></li>
												<li><i class="fa fa-envelope-o"></i><strong><a href="#">help@handyguyz.com</a></strong></li>
												<li class="social">
													<ul>
														<li><a href="#"><i class="fa fa-twitter"></i></a></li>
														<li><a href="#"><i class="fa fa-facebook"></i></a></li>
													</ul>
												</li>
											</ul>

											<div class="page-title-bar-right">
												<a href="contact.html" class="c-button m-type-2 m-size-medium">Request a Quote</a>
											</div>

										</div>
									</div>
									<!-- PAGE TITLE BAR : end -->

								</div>
							</div>
						</div>
					</div>
					<!-- PAGE TITLE BOTTOM : end -->

				</div>
				<!-- PAGE TITLE : end -->

				<!-- PAGE CONTENT : begin -->
				<div id="page-content">

					<!-- INTRO SECTION : begin -->
					<section class="c-section">
						<div class="section-inner">
							<div class="container">

								<div class="row">
									<div class="col-md-4">
										<p class="hidden-sm hidden-xs"><%= image_tag "home-handyman-01.png", class: "margin-top-negative-70" %></p>
									</div>
									<div class="col-md-8">

										<hr class="c-divider m-transparent m-size-medium hidden-xs hidden-sm hidden-md">
										<h2><strong>25 Years of Experience</strong><br>in Home Maintenance Business</h2>
										<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
										<p><a href="contact.html" class="c-button m-size-medium">Let's Get The Job Done</a></p>

									</div>
								</div>

							</div>
						</div>
					</section>
					<!-- INTRO SECTION : end -->

					<!-- FEATURES SECTION : begin -->
					<section class="c-section">
						<div class="section-inner">
							<div class="container">

								<hr class="c-divider m-size-medium">

								<div class="row">
									<div class="col-md-4">

										<!-- FEATURE : begin -->
										<div class="c-feature">
											<i class="feature-icon fa fa-certificate"></i>
											<h3 class="feature-title">Certification</h3>
											<div class="feature-text">
												<p>Our handymen are certified and highly experienced professionals.</p>
											</div>
										</div>
										<!-- FEATURE : end -->

										<hr class="c-divider m-transparent hidden-lg hidden-md">

									</div>
									<div class="col-md-4">

										<!-- FEATURE : begin -->
										<div class="c-feature">
											<i class="feature-icon fa fa-clock-o"></i>
											<h3 class="feature-title">24/7 Availability</h3>
											<div class="feature-text">
												<p>Having a hard time with your toilet in the middle of the night? Call us!</p>
											</div>
										</div>
										<!-- FEATURE : end -->

										<hr class="c-divider m-transparent hidden-lg hidden-md">

									</div>
									<div class="col-md-4">

										<!-- FEATURE : begin -->
										<div class="c-feature">
											<i class="feature-icon fa fa-money"></i>
											<h3 class="feature-title">Fair Prices</h3>
											<div class="feature-text">
												<p>We aren't cheapest, but we won't ruin your wallet either. We promise!</p>
											</div>
										</div>
										<!-- FEATURE : end -->

									</div>
								</div>

							</div>
						</div>
					</section>
					<!-- FEATURES SECTION : end -->

					<!-- TESTIMONIALS SECTION : begin -->
					<section class="c-parallax-section m-dynamic m-has-overlay" style="background-image: url( '/assets/testimonials-section-bg.jpg' );">
						<div class="section-inner">
							<div class="container">

								<h2>Hear From Our <strong>Happy Clients</strong></h2>
								<div class="row">
									<div class="col-md-4">

										<!-- TESTIMONIAL : begin -->
										<div class="c-testimonial">
											<blockquote>
												<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
												<footer><cite><strong>Angela Lee</strong>, Lawyer</cite></footer>
											</blockquote>
										</div>
										<!-- TESTIMONIAL : end -->

										<hr class="c-divider hidden-lg hidden-md">

									</div>
									<div class="col-md-4">

										<!-- TESTIMONIAL : begin -->
										<div class="c-testimonial">
											<blockquote>
												<p>One day however a small line of blind text by the name of Lorem Ipsum decided.</p>
												<footer><cite><strong>Mick Neil</strong>, Landlord</cite></footer>
											</blockquote>
										</div>
										<!-- TESTIMONIAL : end -->

										<hr class="c-divider hidden-lg hidden-md">

									</div>
									<div class="col-md-4">

										<!-- TESTIMONIAL : begin -->
										<div class="c-testimonial">
											<blockquote>
												<p>The Big Oxmox advised her not to do so, because there were thousands.</p>
												<footer><cite><strong>Tommy Mars</strong>, Freelancer</cite></footer>
											</blockquote>
										</div>
										<!-- TESTIMONIAL : end -->

									</div>
								</div>

							</div>
						</div>
					</section>
					<!-- TESTIMONIALS SECTION : end -->

					<!-- ARTICLES SECTION : begin -->
					<section class="c-section">
						<div class="section-inner">
							<div class="container">

								<h2>Read <strong>Pro Tips</strong> in Our Blog</h2>

								<!-- CAROUSEL : begin -->
								<div class="c-carousel" data-autoplay="0" data-loop="false" data-items-show="3" data-items-under-1199="3" data-items-under-991="2" data-items-under-767="2" data-items-under-480="1">
									<div class="c-carousel-items">

										<!-- ARTICLE LIST: begin -->
										<div class="c-article-list">

											<!-- ARTICLE : begin -->
											<article class="c-article m-cropped">
												<div class="article-inner">
													<div class="article-image">
														<a href="blog-detail.html">
															<%= image_tag "article-01-th.jpg" %>
															</a>
													</div>
													<div class="article-content">
														<div class="content-inner">
															<p class="article-date">January 7, 2015 in <a href="#">Kitchen Tips</a></p>
															<h2 class="article-title"><a href="blog-detail.html">The Big Oxmox advised her not to do so, because there were thousands</a></h2>
															<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
														</div>
													</div>
												</div>
											</article>
											<!-- ARTICLE : end -->

											<!-- ARTICLE : begin -->
											<article class="c-article m-cropped">
												<div class="article-inner">
													<div class="article-image">
														<a href="blog-detail.html"><%= image_tag "article-02-th.jpg" %></a>
													</div>
													<div class="article-content">
														<div class="content-inner">
															<p class="article-date">January 7, 2015 in <a href="#">DIY Repairs</a></p>
															<h2 class="article-title"><a href="blog-detail.html">On her way she met a copy, the copy warned</a></h2>
															<p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way. When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove.</p>
														</div>
													</div>
												</div>
											</article>
											<!-- ARTICLE : end -->

											<!-- ARTICLE : begin -->
											<article class="c-article m-cropped">
												<div class="article-inner">
													<div class="article-image">
														<a href="blog-detail.html"><%= image_tag "article-03-th.jpg" %></a>
													</div>
													<div class="article-content">
														<div class="content-inner">
															<p class="article-date">January 6, 2015 in <a href="#">Renovation 101</a></p>
															<h2 class="article-title"><a href="blog-detail.html">Separated they live in Bookmarksgrove right at the coast</a></h2>
															<p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country.</p>
														</div>
													</div>
												</div>
											</article>
											<!-- ARTICLE : end -->

											<!-- ARTICLE : begin -->
											<article class="c-article m-cropped">
												<div class="article-inner">
													<div class="article-image">
														<a href="blog-detail.html"><%= image_tag "article-04-th.jpg" %></a>
													</div>
													<div class="article-content">
														<div class="content-inner">
															<p class="article-date">January 6, 2015 in <a href="#">Roofing 101</a></p>
															<h2 class="article-title"><a href="blog-detail.html">On her way she met a copy. The copy warned the Little Blind Text</a></h2>
															<p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
														</div>
													</div>
												</div>
											</article>
											<!-- ARTICLE : end -->

											<!-- ARTICLE : begin -->
											<article class="c-article m-cropped">
												<div class="article-inner">
													<div class="article-image">
														<a href="blog-detail.html"><%= image_tag "article-05-th.jpg" %></a>
													</div>
													<div class="article-content">
														<div class="content-inner">
															<p class="article-date">January 5, 2015 in <a href="#">Plumbing 101</a></p>
															<h2 class="article-title"><a href="blog-detail.html">Pityful a rethoric question ran over</a></h2>
															<p>She packed her seven versalia, put her initial into the belt and made herself on the way. When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.</p>
														</div>
													</div>
												</div>
											</article>
											<!-- ARTICLE : end -->

											<!-- ARTICLE : begin -->
											<article class="c-article m-cropped">
												<div class="article-inner">
													<div class="article-image">
														<a href="blog-detail.html"><%= image_tag "article-06-th.jpg" %></a>
													</div>
													<div class="article-content">
														<div class="content-inner">
															<p class="article-date">January 5, 2015 in <a href="#">Electricity 101</a></p>
															<h2 class="article-title"><a href="blog-detail.html">But nothing the copy said could convince her and so it didn’t take long</a></h2>
															<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
														</div>
													</div>
												</div>
											</article>
											<!-- ARTICLE : end -->

										</div>
										<!-- ARTICLE LIST : end -->

									</div>
								</div>
								<!-- CAROUSEL : end -->

							</div>
						</div>
					</section>
					<!-- ARTICLES SECTION : end -->

				</div>
				<!-- PAGE CONTENT : end -->

			</div>
			<!-- CORE : end -->